body{
    margin: 0;
}

.container{
    display: flex;
flex-direction: column;
align-items: center;
height :100vh;
justify-content: center;
background: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
text-align: center;
background-size: cover;


}

h1{
    font-size: 60px;
    color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
letter-spacing: 4px;
}

.btn{
    padding: 10px 20px;
    width:200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover{
    background-color: grey;
    filter: brightness(0.8);
}

.active.container{
    filter:(5px) brightness(.7);
}


    .popup-container {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        width: 400px;
        height: 200px;
        top: 30%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1730&q=80");
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        opacity: 1;
        transition: all 0.7s;
      }



      

h4 {
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: blueviolet;
  }
  
    label {
        color: blueviolet;
        font-family: sans-serif;
    }
  
  .popup-btn {
    background-color: skyblue;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
  }
  
  .input {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
  }
    
    .input::placeholder {
        color: lightgray;
    }
    
    .close-icon {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
  
  .close-icon:hover {
    color: red;
  }
  
  .active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 20%;
  }