body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.input{
    visibility: hidden;
}


.label{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    cursor: pointer;

}
.circle{
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    top:3px;
    position: absolute;
    left:3px;
    animation: toggleOff 0.4s linear forwards;
}


.input:checked + .label {
    background-color: salmon;
    border-radius: 20px;

}


.input:checked + .label .circle{
    animation: toggleOff 0.4s linear forwards;
    background-color: black;
    border-radius: 20px;

}

@keyframes toggleOn {
   0% {
       transform: translateX:(0); 
    }
    100%{
        transform: translateX:(40); 
    }
    
}


@keyframes toggleOff {
    0% {
        transform: translateX:(40); 
     }
     100%{
         transform: translateX:(0); 
     }
     
 }