body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
}

.container{
    background-color: lightcoral;
    width:400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px    rgba(0,0,0,.3);


    
}

.textarea{
    resize:none;
    width:100%;
    height:100%;
    font-size: 18px;
    padding:10px;
    box-sizing: border-box;
border: solid 2px darkcyan;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

}

.counter-container p{
    font-size: 18px;
    color: blueviolet;
}
.remaining-counter{
    color:black;
}