body{
    margin:0;
    height:100vh;
    background-color: black;
}

span{
   
    background:url("https://cdn4.iconfinder.com/data/icons/emojis-flat-pixel-perfect/64/emoji-03-1024.png");
    width:100px;
    pointer-events: none;
    height: 100px;
    position: absolute;
    background-size: cover;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
    animation: animate 6s linear;
}

@keyframes animate{
    0%{
        transform:translate(-50%,50%);
        opacity:1;
        filter: hue-rotate(0);
    }
    100%{
        transform:translate(-50%,5000%);
        opacity:0;
        filter: hue-rotate(120deg);
    }
}