body{
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;
 justify-content: center;
 background-color: peachpuff;

}

h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px;
    rgba(0,0,0,0.3);
}

.btn{
    padding: 30px 50px;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 30px;
    min-width:200px;
    border-radius: 10px;
    box-shadow:0 4px 8px;
    rgba(0,0,0,0.3); 
    background: url("https://images.pexels.com/photos/241687/pexels-photo-241687.jpeg?auto=compress&cs=tinysrgb&w=400");

    background-size: cover;
    cursor: pointer;
    text-transform: capitalize;
}

.container{
    text-align: center;
}

.btn:hover{
    color:pink;
}
.btn:active{
    background-size: 105%;
}
