body{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;

}

.main-container{
    max-width: 550px;
    padding: 10px;
}

.main-container img{

    max-width: 100%;
    margin-bottom : 15px;
    border-radius: 10px;
}
.main-container h2{
    color: wheat;
    font-weight: 500;

}
.main-container p{
    color: wheat;

  margin:15px 0;

}
/* img{
    margin-top: 500px;
} */


.trailer-container{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.active.trailer-container{
    visibility: hidden;
}


.btn{
    background-color: white;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.trailer-container video{
    position: fixed;
    max-width: 900px;
    outline: none;
}

@media (max-width:990px){
    .trailer-container{
        max-width: 90%;
    }
}

.close-icon{
    position: absolute;
    top:30%;
    right:30px;
    color:white;
    cursor:pointer
}