body {
    margin: 0;
    height: 100vh;
   
    display: flex;
    justify-content: center;
   
    background-color: white;
    align-items: center;
  }
  
  .slider-container {
    position: relative;

    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .btn.prev
   {
    left: 10px;
  }
  

  .btn.next {
    right: 10px;
  }
  
  .btn:hover {
    opacity: 1;
  }