body{
    margin: 0;
    font-family: sans-serif;

}

.bg-image{
    width: 100%;
    height: 100vh;
    background: url("https://images.pexels.com/photos/450052/pexels-photo-450052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}

.container{
    padding: 100px;
}

h1{
    font-size:50px ;
}

@media(max-width:500px){

    container{
        padding: 10px;
    }
}

p{
    color:grey;
}
