body{
    margin:0;
    font-family: cursive;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.color-container{
    background-color: orange;
    width:300px;
    height:150px;
    color: wheat;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-radius: 10px;
    border: solid black 0.2rem;

}

