body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdyYWQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1100&q=60");
    overflow: hidden;
}


.form{
    background-color: gray;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
    border-radius: 1.2rem;
    margin: 1rem;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    border: solid 0.25rem peru;
    font-family: inherit;
}

input:: ::placeholder{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    background-color: peru;
    border: none;
    width: 100%;
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 20px 0;
    border-radius:2px;
    box-shadow: 0 2px 4px rgpa( 0, 0, 0, 0.3);
    
}

.btn:hover{
    filter: : brightness(0.9);
}

.score{
    color: black;
    text-align: center;
}